* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    font: 16px;
  }
  .main h1 {
    text-align: center;
    margin: 40px;
  }
  .main .box {
    display: block;
    float: left;
    width: 31.3%;
    border: 2px solid #000;
    margin: 0 1%;
    height: 190px;
    overflow: auto;
    background-color: #999999;
  }
  .main .box span {
    float: right;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    text-transform: capitalize;
  }
  .main .box_1 span{
      background-color: #d59898;
  }
  .main .box_2 span{
      background-color: #c14543;
      color: #fff;
  }
  .main .box_3 span{
      background-color: #e5d198;
  }
  .main .box p{
      float: left;
      padding: 10px 15px;
  }
  /* Media Query Start */
  @media (min-width: 768px) and (max-width: 991px){
      .main .box_1, .main .box_2{
          width: 48%;
          margin-bottom: 20px;
      }
      .main .box_3{
          width: 98%;
      }
  }
  @media (max-width: 767px){
      .main .box {
          height: 200px;
        }
      .main .box_1, .main .box_2, .main .box_3{
          width: 98%;
          margin-bottom: 20px;
      }
  }
  /* Media Query End */